<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a th:href="@{/hello(name='AAA', age= 16)}">Go to /hello</a>


<a th:href="@{/hello(name='한글 처리', age= 16)}">Go to /hello</a>


<a th:href="@{/hello(types=${ {'AA','BB','CC'} }, age= 16)}">Go to /hello</a>

   <ul>
       <li th:each="str,status: ${list}">
           <span th:if="${status.odd}"> ODD -- [[${str}]]</span>
           <span th:unless="${status.odd}"> EVEN -- [[${str}]]</span>
       </li>
   </ul>

   <ul>
       <li th:each="str,status: ${list}">
           <span th:text="${status.odd} ?'ODD ---'+${str}"></span>
       </li>
   </ul>

   <ul>
       <li th:each="str,status: ${list}">
           <span th:text="${status.odd} ?'ODD ---'+${str} : 'EVEN ---'+${str}"></span>
       </li>
   </ul>

   <ul>
       <li th:each="str,status: ${list}">
           <th:block th:switch="${status.index % 3}">
               <span th:case="0">0</span>
               <span th:case="1">1</span>
               <span th:case="2">2</span>
           </th:block>
       </li>
   </ul>


   <ul>
        <li th:each="str,status: ${list}">
            [[${status.index}]] -- [[${str}]]
        </li>
    </ul>


    <ul>
        <li th:each="str: ${list}" th:text="${str}"></li>
    </ul>

    <ul>
        <th:block th:each="str: ${list}">
            <li>[[${str}]]</li>
        </th:block>
    </ul>

    <h4>[[${list}]]</h4>
    <hr/>
    <h4 th:text="${list}"></h4>


</body>

</html>